@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_AUTH_TOKEN}

//npm.pkg.github.com/:_authToken=${GOOGLE_SIGN_IN_AUTH_TOKEN}
@react-native-google-signin:registry=https://npm.pkg.github.com/